/* Classes */
.navbar {
    background-color: #e6e6e6;
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
    font-family: sofia-pro-soft, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  margin: 0;
}

.navbar .navbar-collapse {
  font-size: 1.2em;
  color: black;
  text-align: center;
}

/* IDs */

#logo-icon {
  width: 150px;
  height: 30px;
}
